@import '~@angular/material/theming';
@import 'src/app-theme.scss';
md-toolbar {
    .request-for-organization {
        font-weight: 400;
        padding-left: 16px;
    }
    md-select {
        font-weight: 400;
    }
}

form {
    [fxLayout="column"] {
        width: 100%;
    }
    md-select {
        padding: 16px 0;
        margin: 0 10px;
    }
    md-input-container {
        margin: 0 10px;
    }
    app-datepicker {
        margin: 0 10px;
    }
    md-checkbox {
        color: rgba(0, 0, 0, 0.54);
    }
    md-icon {
        width: 60px;
        text-align: center;
        position: relative;
        top: 16px;
        padding: 0 10px;
        color: rgba(0, 0, 0, 0.54);
    }
    md-button-toggle-group {
        height: 36px;
        margin-top: 10px;
        margin-left: 16px;
        box-shadow: none;
    }
    .hide {
        opacity: 0;
        visibility: hidden;
    }
    .person-name {
        line-height: 57px;
        color: rgba(0, 0, 0, 0.54);
    }
}

md-option {
    height: 70px !important;
    line-height: 70px !important; // text-align: right !important;
    div {
        display: table-row;
        img {
            display: table-cell;
            position: relative;
            top: 5px;
        }
        label {
            display: table-cell;
            vertical-align: middle;
            padding-right: 16px;
        }
    }
}

md-chip-list {
    md-input-container {
        min-width: 200px !important;
    }
    md-chip {
        position: relative;
        top: 10px;
        margin-bottom: 10px !important;
        margin-left: 5px !important;
        .clear-chip {
            cursor: pointer;
            font-weight: 100;
            font-size: 14px;
            margin-right: 8px;
        }
    }
}

.spinner-container {
    transition: all 250ms;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0.5;
    transition: all 250ms;
    opacity: 1;
    visibility: visible;
    &.hidden {
        opacity: 0;
        visibility: hidden !important;
    }
    md-spinner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.no-pointer-events {
    pointer-events: none;
}

:host /deep/ {
    td-step-header[ng-reflect-active=true] {
        pointer-events: none !important;
    }
    .td-horizontal-line {
        min-width: 100px !important;
    }
    td-steps-header {
        flex: 1 1 0;
    }
    .td-steps-header {
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
        margin: -8px -24px;
        justify-content: center;
    }
    
    .mat-chip-list-wrapper {
        width: 100%;
    }
}