<div class="organizations-container">
    <label *ngIf="searchTerm && (organizationsCollection$ | async)?.set">{{'showing_results_for'|i18n}} {{searchTerm}}</label>
    <app-organizations-list [organizations]="(organizationsCollection$ | async)?.set"></app-organizations-list>
</div>
<td-paging-bar #pagingBar *ngIf="(organizationsCollection$ | async)?.totalCount > 0" [firstLast]="true" [pageSizeAll]="false" [pageSizes]="[5,10,15]" [initialPage]="page"
    [pageSize]="pageSize" [total]="(organizationsCollection$ | async)?.totalCount" (change)="changePage($event)">
    <span td-paging-bar-label hide-xs>{{'results_per_page' | i18n}}:</span> {{pagingBar.range}} <span hide-xs>{{'of' | i18n}} {{pagingBar.total}}</span>
</td-paging-bar>