@import '~@angular/material/theming';
.dark-theme, .dark-pink-theme {
    *:not(md-icon) {
        color: rgba(255,255,255,0.7) !important;
    }

    md-nav-list {
        md-icon {
            color: rgba(255,255,255,0.7) !important;
        }
    }

    .item-container {
        background: mat-color(mat-palette($mat-grey, 800)) !important;
        color: white;
        .mat-input-element:disabled {
            color: white;
        }
        .mat-icon {
            color: rgba(255, 255, 255, 0.54);
        }
    }
    .mat-list {
        background: mat-color(mat-palette($mat-grey, 800)) !important;
    }
    .pagination-container {
        background: linear-gradient(transparent, #303030 25%) !important;
    }

    .datepicker__calendar__month__day {
        color: white !important;
        background-color: #303030 !important;
    }
}