* {
    direction: rtl;
    .md-input-placeholder.md-float:not(.md-empty),
    .md-input-placeholder.md-float.md-focused {
        width: 100% !important;
    }
}

[dir='rtl'] .mat-option {
    text-align: right !important;
}

.mat-calendar-previous-button::after {
    transform: translateX(2px) rotate(135deg) !important;
}

.mat-calendar-next-button::after {
    transform: translateX(-2px) rotate(-135deg) !important;
}